# CHANGED: We are now using a newer image that has Java 21
image: maven:3.9.6-eclipse-temurin-21

stages:
  - build
  - test

build_app:
  stage: build
  tags:
    - hva
  script:
    - cd backend
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - backend/target/*.jar

test_app:
  stage: test
  tags:
    - hva
  script:
    - cd backend
    # H2 database settings are still good here
    - mvn test -Dspring.datasource.url=jdbc:h2:mem:testdb -Dspring.datasource.driverClassName=org.h2.Driver -Dspring.datasource.username=sa -Dspring.datasource.password=