image: maven:3.8.5-openjdk-17

stages:
  - build
  - test

build_app:
  stage: build
  tags:
    - hva       # <--- The magic key your school requires!
  script:
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target/*.jar

test_app:
  stage: test
  tags:
    - hva       # <--- Must be added here too
  script:
    # We force H2 memory database so tests pass without a real Postgres server
    - mvn test -Dspring.datasource.url=jdbc:h2:mem:testdb -Dspring.datasource.driverClassName=org.h2.Driver -Dspring.datasource.username=sa -Dspring.datasource.password=