target/
.git/
.idea/
.mvn/
mvnw
mvnw.cmd
*.iml

src/main/resources/TK2021/
src/main/resources/TK2023/
src/main/resources/TK2025/
src/main/resources/TK2023_HvA_UvA/
src/main/resources/TK2023_HvA_UvA - Copy/
src/main/resources/Verkiezingsuitslag*/
src/main/resources/**/*.xml